body{
    background-color:grey;
    text-align: center;
}

div{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    background-color: white;
}

.hov:hover{
    color: black;
}

.hov:visited{
    color:grey;
}

.hov:visited:hover{
    color: black;
}

.hov{
    color:grey;
}

.cr{
    color:grey;
}

.foot{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.cen{
    text-align:center;
    width:45%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width:90%;
}