body{
    background-color:grey;
    text-align: center;
}

div{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    background-color: white;
}

.hov:hover{
    color: white;
}

.foot{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: white;
    
}